:root {
  --invisible: #00000000
}

/* General */

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 120ch;
  margin: auto;
}

main {
  flex-grow: 1;
}

/* Navbar */

nav {

  &>ul {
    display: flex;
    padding: 0;
    margin: 0;

    &>li {
      padding: 0;
      list-style: none;
      display: block;
      flex-grow: 1;

      &>a {
        padding: 1em 1ch;
        display: block;
        text-align: center;
        text-decoration: none;
        color: black;

        &:hover {
          background-color: aqua;
        }
      }
    }
  }
}

/* Modals */

div.modal {
  display: none;
}

div.modal-visible {
  display: block;
  background-color: white;
  box-shadow: 10px 10px 0px gray;
  border: 1px solid black;
  padding: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Table */

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.6em;
}

/* Forms */

label,
input {
  display: block;
}

label {
  margin-top: 1em;
}

input {
  margin-top: 0.5em;
}

button.form-page-submit {
  margin-top: 1em;
}

button>a {
  text-decoration: none;
  color: inherit;
}

/* Seating */

div.seat-layout {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

div.seat-row {
  display: flex;
  flex-direction: row;
}

.seat {
  padding: 0.6em;
  margin: 0.2em;
  font-family: monospace;
  background-color: var(--invisible);
}

.seat:not([data-seat]) {
  visibility: hidden;
}

.seat-chosen {
  background-color: cornflowerblue;
}