{% extends "layout.html" %}
{% block body %}
<h1>Dashboard</h1>
Current reservations
<table>
    <tr>
        <th>Play</th>
        <th>Theater</th>
        <th>Seats</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    {% for reservation in reservations %}
    <tr>
        <td>{{reservation.play_name}}</td>
        <td>{{reservation.theater_name}}</td>
        <td>{{reservation.seat}}</td>
        <td>{{reservation.period_start}}</td>
        <td>{{reservation.period_end}}</td>
        <td>
            <form action="/api/unreserve" method="post">
                <input type="hidden" name="reservation_id" value="{{reservation.reservation_id}}">
                <button type="submit">Unreserve</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}