{% extends "layout.html" %} {% block body %}
<h1>Showings</h1>
<table>
    <tr>
        {% for column in columns %}
        <th>{{column}}</th>
        {% endfor %}
    </tr>
    {% for showing in showings %}
    <tr>
        {% for value in showing %}
        <td>{{value}}</td>
        {% endfor %}
        <td>
            <button>
                <a href="reserve?play={{showing[0]}}&theater={{showing[1]}}">
                    Reserve
                </a>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
